
title {
    text-align: center;
}

body {
    background-image:radial-gradient(circle, green, yellow);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  
  #excuse { 
    text-emphasis: 20px;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #generate-btn {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  